.resources-content  {
        border-bottom: 2px solid #ebdbb2;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;

    .resource-list {

        .resource-item {
            margin-left: 0.5rem;
        }
    }
}