.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
        border-radius: 3px;
    }
    .image-container {
        max-width: 25%;
    }
    .about-content{
        margin-top: 1em;
    }
    @media only screen and (max-width: 480px) {
        .image-container {
            max-width: 100%;
        }
    }
}