
div.blog-post-listing {

  .blog-post-title, .blog-post-date, .blog-post-reading-time {
    text-align: center;
  }

  .blog-post-title, .blog-post-date {
    margin-bottom: 0.25em;
  }

  .blog-post-reading-time {
    margin-bottom: 1.5em;
    color: #689d6a;
  }

  h1 > * {
    font-size: 1.2rem;
    text-decoration-line: none;
  }
  h2 {
    color: #b58900;
    font-size: 0.8rem !important;
    font-weight: 100 !important;
  }
}

div.blog-post-listing {
  border-bottom: 1px solid #b58900;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

div.blog-post-listing:last-child {
  border-bottom: none;
}