.blog-post-container {
  .disqus-comment-count {
    margin-top: -20px;
    color: #448488
  }

  .blog-post-title {
    text-align: center;
    margin-bottom: 1em;
    .blog-post-date {
      color: #d79921;
    }
  }

  .blog-post-tags {
    .blog-post-tag {
      a {
        margin-left: 0.5em;
        color: #d79921;
        text-decoration-line: none;
        &:hover {
            color: #855f13
        }
      }
    }
  }

  h2 {
    margin-bottom: 0.1em
  }

  .language-text {
    background-color: #2d2d2d;
    color: #689d6a
  }
}
