
div.blog-post-listing {
  h1 > * {
    font-size: 1.2rem;
    text-decoration-line: none;
  }
  h2 {
    color: #b58900;
    font-size: 0.8rem !important;
    font-weight: 100 !important;
  }
}

div.blog-post-listing:nth-child(odd) {
  border-bottom: 1px solid #b58900;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}