.blog-post-container {
  .disqus-comment-count {
    float: right;
    color: #448488
  }

  .blog-post-tags {
    .blog-post-tag {
      a {
        margin-left: 0.5em;
        color: #d79921;
        text-decoration-line: none;
        &:hover {
            color: #855f13
        }
      }
    }
  }
}
