/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  text-align: center;
  /* Individual item */
  .bm-item, .menu-item {
    display: inline-block;
    
    /* Our sidebar item styling */
    
    text-decoration: none;
    margin-bottom: 1em;
    color: #d79921;
    transition: color 0.2s;
    outline: none;
  }

  /* Change color on hover */
  .bm-item:hover {
    color: #855f13;
  }
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 28px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #d79921;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  position: fixed !important;
  width: 36px !important;
  height: 30px !important;
  right: 30px !important;
  top: 20px !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #d79921;
  width: 10px !important;
  height: 40px !important;
}

/* General sidebar styles */
.bm-menu {
  display: flex;
  justify-content: center;
  background: #282828;
  padding: 5.5em 1.5em 0;
  font-size: 2em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(10, 10, 10, 0.3);
}